<template>
  <div class="home"><center>
    <br><div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">titre du livre:{{book.title}}</h5>
        <h5 class="card-title">Auteur du livre:{{book.author}}</h5>
        <h5 class="card-title">Categorie du livre:{{book.categoryId}}</h5>
        <h5 class="card-title">Disponibilité du livre:{{book.disponible}}</h5>
        <p class="card-text"><input type="text" v-model="book.title" placeholder="Ajouter un titre de livre"></p>
        <p class="card-text"><input type="text" v-model="book.author" placeholder="Ajouter un auteur"></p>
        <p class="card-text"><input type="text" v-model="book.categoryId" placeholder="Ajouter une categorie"></p>
        <p class="card-text"><input type="text" v-model="book.disponible" placeholder="Ajouter une disponibilité"></p>
        <td><button type="button" class="btn btn-secondary" @click="addBook">Ajouter le livre</button></td>
      </div>
    </div>
    </center>

  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
export default {
  name: 'ajout',
  data() {
    return {
      book: {
        id:null,
        title: null,
        author: null,
        categoryId: null,
        disponible: null,
      }
    }
  },
  methods:{
    loadBooks(){
      axios
          .get('http://localhost:3000/books')
          .then(response => (this.books = response.data))
    },

    addBook(){
      axios.post('http://localhost:3000/books/', this.book)
          .then(function (response) {
            console.log(response);

      //console.log(this.book);
          })
          .catch(function (erreur) {
            console.log(erreur);
          });
    },

  },
  //created() {
  //  this.getItem();
  //},
  mounted() {
    this.loadBooks()
  },
}

</script>