<template>
  <div class="home"><center>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Numéro de la categorie:{{categorie.id}}</h5>
        <h5 class="card-title">titre de la categorie:{{categorie.title}}</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div>
      <input type="text" v-model="categorie.id" placeholder="Numéro de la catégorie">
      <input type="text" v-model="categorie.title" placeholder="Titre de la categorie">
      <td style="min-width:50px"><button @click="addcategorie">Ajouter la categorie</button></td>
    </div></center>

  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
export default {
  name: 'addcategorie',
  data() {
    return {
      categorie: {
        id:null,
        title: null,
      }
    }
  },
  methods:{
    loadCategories(){
      axios
          .get('http://localhost:3000/categories')
          .then(response => (this.categories = response.data))
    },

    addcategorie(){
      axios.post('http://localhost:3000/categories/', this.categories)
          .then(function (response) {
            console.log(response);

            //console.log(this.book);
          })
          .catch(function (erreur) {
            console.log(erreur);
          });
    },

  },
  //created() {
  //  this.getItem();
  //},
  mounted() {
    this.loadCategories()
  },
}

</script>