<template>
  <div class="home"><center>
    <tr v-for="categorie in categories">
      <br><div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Numéro de la catégorie: {{categorie.id}}</h5>
          <p class="card-text">Titre de la catégorie: {{categorie.title}}</p>
          <button type="button" class="btn btn-secondary"><router-link :to="{path:'/categorie/'+ categorie.id}" style="color:#FFFFFF">categorie {{categorie.title}}</router-link></button>
        </div>
      </div>
      <!--<td style="min-width:50px"><button @click="DeleteCategorie(categorie.id)">Supprimer le livre</button></td>-->
    </tr></center>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
export default {
  name: 'categories',
  data() {
    return {
      id: null,
      categories: {
      }
    }
  },
  methods:{
    loadCategories(){
      axios
          .get('http://localhost:3000/categories')
          .then(response => (this.categories = response.data))
    },
    DeleteCategorie(id){
      axios.delete('http://localhost:3000/categories/'+id)
          .then((result) => {
            console.log(result.data)
            this.loadCategories()
          })
    },
  },
  //created() {
  //  this.getItem();
  //},
  mounted() {
    this.loadCategories()
  },
}

</script>