<template>
  <!--<form id="auto-suggest" action="#" method="post">
      <input type="text" class="search" name="search" value="Rechercher" onfocus="if(this.value=='Rechercher')this.value=''" onblur="if(this.value=='')this.value='Rechercher'" autocomplete="off"/>
  </form>-->
  <div class="home"><center>
    <tr v-for="book in books">
      <br><div v-if="book.disponible ===false" class="card" style="width: auto;">
      <div class="card-body">
        <h5 class="card-title">Titre du livre: {{book.title}}</h5>
        <h5 class="card-text">Auteur ou artiste du livre: {{book.author}}</h5>
        <h5 class="card-text">{{book.artist}}</h5>
        <h5 class="card-text">Categorie du livre: {{book.categoryId}}</h5>
        <button type="button" class="btn btn-secondary"><router-link :to="{path:'/books/'+ book.id}" style="color:#FFFFFF">Acceder au livre</router-link></button><br>
        <br><td style="min-width:50px"><button type="button" class="btn btn-secondary" @click="DeleteBook(book.id)">Supprimer le livre</button></td>
      </div>
    </div>
    </tr></center>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
import aboutView from "@/views/AboutView";
export default {
  name: 'home',
  data() {
    return {
      id:null,
      books: {
      }
    }
  },
  methods:{
    loadBooks(){
      axios
          .get('http://localhost:3000/books')
          .then(response => (this.books = response.data))
    },
    DeleteBook(id){
      axios.delete('http://localhost:3000/books/'+id)
          .then((result) => {
            console.log(result.data)
            this.loadBooks()
          })
    },
  },
  //created() {
  //  this.getItem();
  //},
  mounted() {
    this.loadBooks()
  },
}

</script>