<template>
  <div class="home"><center>
    <p style="color:#FFFFFF">
      Éditeur du Site : <br>

      SARL ANTHEDESIGN Numéro de SIRET : 75221735600027<br>

      Responsable éditorial : Hugo ESSIQUE<br>

      12 Rue du Huit Mai 1945, 60350 ATTICHY<br>

      Téléphone : 09 72 21 25 07<br>

      Email : contact@anthedesign.fr<br>

      Site Web : www.anthedesign.fr<br>

      Hébergement :<br>

      Hébergeur : SARL ANTHEDESIGN<br>
      12 Rue du Huit Mai 1945, 60350 ATTICHY<br>
      Site Web : www.anthedesign.fr<br>

      Développement :<br>

      SARL ANTHEDESIGN<br>

      Adresse : 12 Rue du Huit Mai 1945, 60350 ATTICHY<br>

      Site Web : www.anthedesign.fr<br>
    </p>
  </center>
  </div>
</template>

<script>
export default {
  name: "mentionslegales"
}
</script>