<template>
  <div class="home"><center>
    <br><div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" v-if="books">Titre du livre: {{books.title}}<br>Auteur du livre: {{books.author}}<br>Categorie du livre: {{books.categoryId}}</h5>
        <p class="card-text"><input type="text" v-model="books.title" placeholder="Changer le titre du livre"></p>
        <p class="card-text"><input type="text" v-model="books.author" placeholder="Changer l'auteur"></p>
        <p class="card-text"><input type="text" v-model="books.categoryId" placeholder="Changer la categorie"></p>
        <p class="card-text"><input type="checkbox" v-model="books.disponible" placeholder="Changer disponibiliter"></p>
        <td style="min-width:50px"><button type="button" class="btn btn-secondary" @click="ChangeBook">Valider les modifications</button></td>
      </div>
    </div>
    </center>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
export default {
  name: "Onebook",
  data() {
    return {
      books: {
        id:null,
        title: null,
        author: null,
        categoryId: null,
        disponible: null,
      }
    }
  },
  methods: {
    loadBook() {
      axios.get('http://localhost:3000/books/'+this.id)
          .then(response => {
            console.log(response);
            this.books = response.data})
          .catch((error)=>{console.log(error)})
    },
    ChangeBook(){
      let string = 'http://localhost:3000/books/'+this.id
      axios.put(string,(this.books))
          .then(response => {
            console.log(response);
            this.books = response.data})
          .catch((error)=>{console.log(error)})
    }
  },
  mounted() {
    this.loadBook()
  },
  created(){
    this.id = this.$route.params.id
  }
}
</script>