<template>
  <div class="home"><center>
    <br><div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" v-if="categories">Numéro de la categorie: {{categories.id}}<br>Titre de la categorie: {{categories.title}}</h5>
        <p class="card-text"></p>
      </div>
    </div>
    <h1 style="color:#FFFFFF">Livres de cette categorie</h1>
    <tr v-for="book in categories.books">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Titre du livre: {{book.title}}<br>Auteur du livre: {{book.author}}</h5>
        </div>
      </div>
    </tr>
  </center>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
export default {
  name: "Onecategorie",
  data() {
    return {
      id:null,
      categories: {
        title: null,
      }
    }
  },
  methods: {
    loadcategorie() {
      axios.get('http://localhost:3000/categories?_embed=books')
          //http://localhost:3000/categories?_embed=books il faut que j'utilise celle ci pour avoir tout les jeux par categorie
          //http://localhost:3000/books?_expand=category
          .then(response => {
            console.log(response);
            this.categories = response.data})
          .catch((error)=>{console.log(error)})
    },
  },
  mounted() {
    this.loadcategorie()
  },
  created(){
    this.id = this.$route.params.id
  }

}
</script>